<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <%-include('nav')%>
    <section>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <h2 class="fs-4 fw-bold mb-3">Add New Product</h2>
            <form action="/store-product" method="post">
                <input type="hidden" name="id" >
                <div class="d-flex" style="gap: 20px;">
                  <div class="form-floating mb-3 w-50">
                    <input type="text" name="title"  class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Title</label>
                  </div>
                  <div class="form-floating mb-3 w-50">
                    <input type="text" name="img"  class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Image</label>
                  </div>

                </div>
                <div class="d-flex" style="gap: 20px;">
                
                  <div class="form-floating mb-3 w-50">
                    <input type="text" name="pricing" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Pricing</label>
                  </div>
                  <div class="form-floating w-50">
                    <textarea rows="4" name="status" class="form-control" id="floatingPassword"></textarea>

                    <label for="floatingPassword">Status</label>
                  </div>
                </div>
                <div class="form-floating">
                  <textarea rows="8" cols="10" name="desc" class="form-control" id="floatingPassword" placeholder="Remark"></textarea>

                  <label for="floatingPassword">Description</label>
                </div>
                <button class="btn btn-primary mt-3 w-100 py-3">Create New Product</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
