<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>
<body>
<div

<div class="container mt-5">
 
<div class="row justify-content-center text-center">
    <div class="col-md-4">
       
        <img class="image" src="image1.webp" height="160px"" alt="">
        <h3 class="fw-bold my-3">Welcome back! 🙈</h3>
     <p>Stay productive💡</p>
       <div>
        
       </div>
        <form action="/auth" method="post" class="mb-3 mt-3 ">
            <div class="form-floating mb-3">
                <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Your task">
                <label for="floatingInput">Email</label>
              </div>
              <div class="form-floating">
                <input type="password" name="password" class="form-control" id="floatingDate" placeholder="Due date">
                <label for="floatingInput">Password</label>
              </div>
              <button type="submit" class="btn btn-primary px-3 py-3 mt-2" style="width: 100%;">Login Now</button>
          </form>
          <!-- or 
          <form action="signup" method="post">
            <button type="submit" class="btn btn-success px-3 py-3 mt-2" style="width: 100%;">Sign up</button>
          </form> -->
    </div>
</div>

</div>
<script src="script.js"></script>
</body>
